In [1]:
import sqlite3
import pandas as pd
import os

In [ ]:
def chat_query(query):
    return f"do you know how to {query} using sqlite3 in python"

In [ ]:
query = "GO OVER A TABLE WITH A LOOP".lower()
chat_query(query)

In [2]:
def create_db(path=r"C:\Users\USUARIO\OneDrive - Universidad de Antioquia\Analitica_3"):
    """"
    Funcion para la creacion del Database

    Parametros
    ------------
        path: direccion local de los archivos como una raw string

    """
    if os.path.exists("data"):
        os.unlink("data/human_db")
        os.rmdir("data")
    
    os.mkdir("data")
    file_names = [i for i in os.listdir(path) if os.path.splitext(i)[1] == ".csv"]
    conn = sqlite3.connect("data/human_db")

    for x in file_names:
        pd.read_csv(os.path.join(path, x)).to_sql(os.path.splitext(x)[0], conn, if_exists="replace")
        
    conn.close()

In [3]:
create_db()

In [ ]:
%load_ext sql
%sql sqlite:///data/human_db

# employee_survey_data

In [ ]:
%%sql

UPDATE employee_survey_data
SET EnvironmentSatisfaction = (SELECT ROUND(AVG(EnvironmentSatisfaction), 0) FROM employee_survey_data)
WHERE EnvironmentSatisfaction IS NULL;

UPDATE employee_survey_data
SET JobSatisfaction = (SELECT ROUND(AVG(JobSatisfaction), 0) FROM employee_survey_data)
WHERE JobSatisfaction IS NULL;

UPDATE employee_survey_data
SET WorkLifeBalance = (SELECT ROUND(AVG(WorkLifeBalance), 0) FROM employee_survey_data)
WHERE WorkLifeBalance IS NULL;

CREATE TABLE IF NOT EXISTS employee_survey_data_up AS SELECT EmployeeID, DateSurvey, EnvironmentSatisfaction, JobSatisfaction, WorkLifeBalance FROM employee_survey_data;

CREATE INDEX IF NOT EXISTS ix_employee_survey_data_up_EmployeeID ON employee_survey_data_up(EmployeeID);

# general_data

In [ ]:
%%sql

SELECT * FROM general_data
LIMIT 5;

PRAGMA table_info(general_data);

In [ ]:
%%sql

SELECT * FROM general_data
WHERE TotalWorkingYears IS NULL;

In [ ]:
to_delete = ["EmployeeCount", "StandardHours", "NumCompaniesWorked", ]

In [ ]:
%%sql
SELECT DISTINCT MaritalStatus FROM general_data;