In [ ]:
from source import create_db

In [ ]:
create_db()

In [ ]:
%load_ext sql
%sql sqlite:///data/human_db

In [ ]:
%%sql
SELECT resignationReason, COUNT(resignationReason) FROM retirement_info_up
GROUP BY resignationReason;

SELECT EmployeeID FROM retirement_info_up;

SELECT EmployeeID, strftime("%Y", Date) as year FROM manager_survey_up
WHERE year = '2015';

SELECT *, strftime("%Y", Date) as year FROM manager_survey_up
WHERE year = '2016';

SELECT * FROM (SELECT *, strftime("%Y", Date) as year FROM manager_survey_up
WHERE year = '2015') b1
LEFT JOIN (SELECT *, strftime("%Y", Date) as year FROM manager_survey_up
WHERE year = '2016') b2 ON b1.EmployeeID = b2.EmployeeID;

SELECT * FROM (SELECT *, strftime("%Y", Date) AS year FROM employee_survey_data_up
WHERE year = '2015') b1
LEFT JOIN (SELECT *, strftime("%Y", Date) AS year FROM employee_survey_data_up
WHERE year = '2016') b2 ON b1.EmployeeID = b2.EmployeeID;


SELECT * FROM (SELECT YearsAtCompany, YearsWithCurrManager, EmployeeID, strftime("%Y", Date) AS year FROM general_data_up
WHERE year = '2015') b1
LEFT JOIN (SELECT YearsAtCompany, YearsWithCurrManager, EmployeeID, strftime("%Y", Date) AS year FROM general_data_up
WHERE year = '2016') b2 ON b1.EmployeeID = b2.EmployeeID;

SELECT * FROM (SELECT *, strftime("%Y", Date) AS year FROM retirement_info_up
WHERE year = '2015') b1
INNER JOIN (SELECT *, strftime("%Y", Date) AS year FROM retirement_info_up
WHERE year = '2016') b2 ON b1.EmployeeID = b2.EmployeeID;



SELECT EmployeeID, Date, EnvironmentSatisfaction, JobSatisfaction, WorkLifeBalance, Age, BusinessTravel, Department, 
DistanceFromHome, Education, EducationField, Gender, JobLevel, JobRole, MaritalStatus, MonthlyIncome, NumCompaniesWorked, PercentSalaryHike, StockOptionLevel, TotalWorkingYears, YearsAtCompany, YearsSinceLastPromotion,
YearsWithCurrManager, JobInvolvement, PerformanceRating, retirementType, resignationReason FROM (SELECT * FROM employee_survey_data_up
INNER JOIN general_data_up ON employee_survey_data_up.EmployeeID = general_data_up.EmployeeID
INNER JOIN manager_survey_up ON employee_survey_data_up.EmployeeID = manager_survey_up.EmployeeID
LEFT JOIN retirement_info_up ON employee_survey_data_up.EmployeeID = retirement_info_up.EmployeeID);

SELECT * FROM df
WHERE retirementType IS NULL;

UPDATE df
SET retirementType = "Active"
WHERE retirementType IS NULL;

UPDATE df
SET resignationReason = "Not applicable"
WHERE resignationReason IS NULL;